<% if params[:action] == 'search' %>
  <div class="results-block">
    <%= bootstrap_flash %>
  </div>

  <% if @stock %>
    <div class="well results-block">
      <strong>Symbol: </strong><%= @stock.ticker %>
      <strong>Name: </strong><%= @stock.name %>
      <strong>Price: </strong><%= @stock.last_price %>
      <% if current_user.can_add_stock?(@stock.ticker) %>
        <%= link_to "Add to my stocks", user_stocks_path(stock_ticker: @stock.ticker), class: "btn btn-xs btn-success", method: :post %>
      <% else %>
        <span class="label label-default">
          Stock cannot be added because you have already added
          <% if current_user.under_stock_limit? %>
            this stock.
          <% else %>
            10 stocks.
          <% end %>
        </span>
      <% end %>
    </div>
  <% end %>
<% end %>